<app-header></app-header>

<div id="one">
  <div class="containe">
    <div class="row">
      <div class="col-md-2 nav-col">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">login</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10 details-col">
        <h1>forget password</h1>
        <h2>we got you covered</h2>
        <hr>
      </div>
    </div>

    <div class="container move-it">
      <div class="row">
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem facere numquam dignissimos necessitatibus nisi iusto sunt sit odio quia doloremque!</p>
          <p>we would love to hear from you, please drop your wonderful opinion in the form by the right</p>
        </div>
        <div class="col-md-8">
          <h2>your credentials</h2>
          <mat-form-field class="form-one" appearance="outline">
            <mat-label>email <address></address></mat-label>
            <input matInput type="text" formControlName="email">
          </mat-form-field>
          <button class="btn">submit</button>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
